.SpaceDivider {
  position: relative;
  width: 100%;
  height: 100%;

  .SpaceDivider-offscreen {
    position: absolute;
    left: -500px;
    top: -500px;
    right: -100px;
    bottom: -100px;
    display: none;
  }

  .SpaceDivider-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    gap: 0.5em;
  }

  &.flex .SpaceDivider-content {
    align-items: stretch;
    & > * {
      flex: 1 0 auto;
    }
  }
}
