/*-- scss:rules --*/

.navbar {
  background-color: var(--cb-dark-1-teal);
}

.social-logo-wrapper {
  padding-top: 0.3rem;
}
.social-logo-wrapper {
  display: flex;
  align-items: baseline;
  gap: 0.35em;
}
