@import url('../../../core-styles/variables.css');

.origraph-button-wrapper {
  display: flex;
  gap: 0.125em;
}

.origraph-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.35em;
  text-decoration: none;
  padding: 0.5em 0.75em 0.5em 0.75em;
  border-radius: 1.35em;
  line-height: 1em;
  border: none;
  outline: none;
  outline-offset: -2px;
  cursor: pointer;
  font-family: var(--header-font);
  white-space: nowrap;
  font-weight: 600;
  user-select: none;

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 10px 2px var(--soft-background-color);
  }

  &.splitLeft {
    padding-left: 0.25em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    justify-content: flex-end;
  }
  &.splitRight {
    padding-right: 0.25em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    justify-content: flex-start;
  }
  &.singleIconButton {
    padding: 0.5em 0.5em;
  }

  .shortcutHint {
    text-transform: uppercase;
    letter-spacing: 0.35ex;
    font-size: 0.5em;
  }
  .gap {
    flex-grow: 1;
  }

  .origraph-icon {
    color: var(--background-color);
    &.useMask {
      background-color: var(--background-color);
    }
  }

  /* Unless otherwise-classed, buttons will default to the teal accent */
  color: var(--background-color);
  background-color: var(--accent-color);
  transition: all 0.2s ease-in-out;
  &.active,
  &:focus,
  &:hover {
    color: var(--background-color);
    background-color: var(--accent-color-fg);
  }
  &:focus,
  &:hover {
    box-shadow: 0px 0px 70px 3px var(--accent-color-extra-bg);
  }
  &.active:focus,
  &.active:hover {
    color: var(--background-color);
    background-color: var(--accent-color-extra-fg);
  }
  &.minimal {
    color: var(--accent-color);
    .origraph-icon {
      color: var(--accent-color);
      &.useMask {
        background-color: var(--accent-color);
      }
    }
    background-color: transparent;
    outline: 2px solid var(--accent-color);
    &.active,
    &:focus,
    &:hover {
      color: var(--accent-color-fg);
      .origraph-icon {
        color: var(--accent-color-fg);
        &.useMask {
          background-color: var(--accent-color-fg);
        }
      }
    }
    &.active:focus,
    &.active:hover {
      color: var(--accent-color-extra-fg);
      .origraph-icon {
        color: var(--accent-color-extra-fg);
        &.useMask {
          background-color: var(--accent-color-extra-fg);
        }
      }
      outline: 2px solid var(--accent-color-extra-fg);
    }
  }
}
